* {
    padding: 0px;
    margin: 0px;
}

html body {
    /*height: 100%;*/
}

/* PC端边距 */

@media(min-width:420px) {
    html body {
        margin-left: 15%;
        margin-right: 2%;
    }
}

/* 显示宽度少于1200隐藏 */

@media(max-width:1200px) {
    html body {
        display: none;
    }
}

/* 手机端显示 */

@media(max-width:420px) {
    html body {
        margin-left: 0%;
        margin-right: 0%;
        display: block;
    }
}

/* 清除浮动 */

.clearfix:after {
    content: "";
    display: block;
    clear: both;
}

.clear{
    clear: both;
    overflow: hidden;
}

/* 去掉li标签的点 */

li {
    list-style: none;
}

/* 去掉a标签下划线 */

a {
    text-decoration: none;
}

/* 图片为块状 */

/* img {
    display: block;
} */

/* PC端左导航 */

.Navigation_letf {
    width: 15%;
    height: 100%;
    background-color: #222;
    position: fixed;
    top: 0px;
    left: 0px;
}

/* 个人博客英文 */

.Navigation_letf .myblog {
    width: 100%;
    height: auto;
    line-height: 80px;
    text-align: center;
    color: rgb(241, 241, 241);
    font-family: kaiti;
}

/* 我的头像 */

.Navigation_letf .myportrait {
    width: 100%;
    height: auto;
    text-align: center;
    overflow: hidden;
}

/* 我的头像 图片设置为圆形显示 */

.Navigation_letf .myportrait img {
    width: 30%;
    height: auto;
    border-radius: 50%;
    margin: 0 auto;
    transition: 1s;
}

/* 鼠标经过我的头像旋转和放大 */


.Navigation_letf .myportrait img:hover {
    transform: scale(1.3) rotateY(360deg);
}

/* 我的信息 */

.Navigation_letf .myinformation {
    width: 100%;
    height: auto;
    text-align: center;
    margin-top: 25px;
}

/* 我的信息 设置 ul li 的高宽  */

.Navigation_letf .myinformation ul li {
    width: 58%;
    height: 25px;
    line-height: 25px;
    margin: 0 auto;
    border-left: 2px solid #999;
    border-right: 2px solid #999;
    color: #ddd;
    border-radius: 5px;
    margin-top: 10px;
    transition: 0.3s;
    opacity: 0.5;
}

/* 鼠标经过 li 宽度改变 */

.Navigation_letf .myinformation ul li:nth-child(4), .Navigation_letf .myinformation ul li:nth-child(5) {
    width: 80%;
}

.Navigation_letf .myinformation ul li a {
    color: #ddd;
}

.Navigation_letf .myinformation ul li:hover a {
    color: #fff;
}

.Navigation_letf .myinformation ul li:hover {
    border-left: 3px solid #fff;
    border-right: 3px solid #fff;
    opacity: 1;
    width: 90%;
}

/* PC端左导航切换 */

.Navigation_letf .myNavigation {
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: rgba(50, 50, 50, 0.5);
    margin-top: 30px;
    padding-top: 20px;
}

/* 鼠标经过颜色改变 */

.Navigation_letf .myNavigation:hover {
    background-color: rgb(19, 18, 18, 0.5);
}

/* PC端左导航切换 设置 ul li 的高宽  */

.Navigation_letf .myNavigation ul li {
    width: 65%;
    height: 30px;
    line-height: 30px;
    padding-right: 50px;
    margin: 0 auto;
    margin-top: 30px;
    border: none;
    text-indent: 10px;
    text-align: right;
}

.Navigation_letf .myNavigation ul li:hover i {
    color: #36afbe;
    transform: rotateX(360deg);
}

.Navigation_letf .myNavigation ul li i:nth-child(1) {
    float: right;
    line-height: 30px;
    transition: 1s;
}

.Navigation_letf .myNavigation ul li a {
    color: #ddd;
}

.Navigation_letf .myNavigation ul li:hover a {
    color: #2ecadf;
    transition: 0.5s;
}

/* 中间主体块 */

.mysubject {
    width: 100%;
    height: auto;
}

/* PC端右导航 */

.Navigation_right {
    width: 15%;
    height: 100%;
    background-color: #222;
    position: fixed;
    right: -13%;
    top: 0px;
    transition: all 1s;
    padding-top: 20px;
}

.Navigation_right .Navclick_i {
    width: auto;
    height: auto;
    position: absolute;
    top: 50%;
    transform: translate(0%, -50%);
    padding-left: 7px;
}

.Navigation_right .Navclick_i .noNavclick_i {
    display: none;
}

.Navigation_right .Navclick_i i {
    color: #ddd;
    transition: all 1s;
}

.Navigation_right:hover i {
    color: #fff;
    transform: scale(1.5);
}
.Navigation_right img {
    width: 100%;
    padding: 20px;
    box-sizing: border-box; 
}
.Navigation_right h3 {
    color: #fff;
    font-weight: 300;
    font-size: 30px;
    text-align: center;
}

@media(max-width:420px) {
    .Navigation_letf, .Navigation_right {
        display: none;
    }
}

/* 手机底部 */

.Navigation_bottom {
    width: 100%;
    height: 50px;
    background-color: #fff;
    position: fixed;
    bottom: 0px;
    border-top: 1px solid #ddd;
}

.Navigation_bottom ul li {
    width: 25%;
    height: 50px;
    float: left;
    text-align: center;
    line-height: 30px;
    padding-top: 10px;
    font-size: 13px;
}

.Navigation_bottom ul li a {
    color: #555;
    font-size: 15px;
}

.Navigation_bottom ul li i {
    display: block;
    font-size: 20px;
}

@media(min-width:420px) {
    .Navigation_bottom {
        display: none;
    }
}

/*div隐藏*/

.about {
    display: none;
}

.message {
    display: none;
}

.more {
    display: none;
}

/*div隐藏*/